h1 {
	text-align: center;
}
.tarjetas{
	background-color: white;
	flex: 25%;
	justify-content: center;
	margin: 1%;
}
img{
	width: 100%;
}
#contenedor{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	background-color: grey;
	justify-content: center;
	
}
body{
	width: 90%;
	margin-left: 5%;

	
}
.boton1{
	background-color: #33ccff;
	border: none;
	color: #FFFFFF
	
	
}
.rosa{
	color: pink;
}

@media (max-width: 1000px){
	.tarjetas{
		flex: 45%;
	}
}

@media (max-width: 700px){
	.tarjetas{
		flex: 99%;
	}
}

