h1 {
	text-align: center;
}
.tarjetas{
	background-color: white;
	flex: 25%;
	
	justify-content: center;
	margin: 1%;
}
img{
	width: 100%;
}
#contenedor{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	background-color: grey;
	
}
body{
	width: 90%;
	margin-left: 5%;
	
}
.boton1{
	background-color: #33ccff;
	border: none;
	color: #FFFFFF
	
	
}
.rosa{
	color: pink;
}
footer{
	display: flex;
	justify-content: center;
}